<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/lightbox.js"></script>
</head>
<body>
    <header>
    <h1>{{ site.title }}</h1>
    <nav>
        <ul>
            {% for item in menu %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
        
    </main>
    <footer>
        <div class="menu-footer">
        <ul>
            {% for item in menu_footer %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        </div
        <p>&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> {{ site.title }} - {{ site.description }}</p>
    </footer>

    <div id="lightbox" class="lightbox hidden">
        <button class="lightbox-close"></button>
        <button class="lightbox-prev"></button>
        <button class="lightbox-next"></button>
        <div class="lightbox-content"></div>

        <div class="lightbox-overlay hidden">
            <span>&ltlarr; / &gtrarr; bladeren</span>
            <span>Esc sluiten</span>
            <span>Spatie volgende</span>
        </div>

        <div class="lightbox-touch-overlay hidden">
            <span>Swipe links/rechts om te bladeren</span>
            <span>Tik om te sluiten</span>
        </div>
    </div>

</body>
</html>