{% extends "base.html" %}

{% block content %}
<h1>Blog</h1>

<ul class="post-list">
    {% for post in posts %}

    <article class="post-card">

        {% if post.thumb_jpg %}
        <a href="{{ post.url }}">
            <picture>
                <source srcset="{{ post.images.small.webp }}" type="image/webp">
                <source srcset="{{ post.images.small.jpg }}" type="image/jpeg">
                <img class="thumb" src="{{ post.images.small.jpg }}" alt="{{ post.title }}">
            </picture>
        </a>
        {% endif %}

    
    <h2>
        <a href="/posts/{{ post.slug }}/">{{ post.title }}</a>
    </h2>
    <p>{{ post.summary }}</p>
        <p><small>{{ post.date.strftime("%Y-%m-%d") }}</small></p>
    
    </article>
    {% endfor %}
</ul>

<div class="pagination">
    {% if page == 2 %}
    <a href="/">Vorige</a>
    {% elif page > 2 %}
    <a href="/page/{{ page-1 }}/">Vorige</a>
    {% endif %}


    <span>Pagina {{ page }} van {{ total_pages }}</span>
    {% if page < total_pages %}
    <a href="/page/{{ page+1 }}/">Volgende</a>
    {% endif %}
</div>

{% endblock %}

