{% extends "base.html" %}

{% block content %}
<h1>Blog</h1>

<ul class="post-list">
    {% for post in posts %}

    <article class="post-card">

        {% if post.hero %}
        <a href="{{ post.url }}">
            <picture>
                <source type="image/webp"
                srcset="
                {{ post.images.small.webp }} 300w,
                {{ post.images.medium.webp }} 600w
                "
                sizes="(max-width: 600px) 100vw, 300px">

                <source type="image/jpeg"
                srcset="
                {{ post.images.small.jpg }} 300w,
                {{ post.images.medium.jpg }} 600w
                "
                sizes="(max-width: 600px) 100vw, 300px">

                <img class="thumb" src="{{ post.images.medium.jpg }}" alt="{{ post.title }}" loading="lazy">
            </picture>
        </a>
        {% else %}
        <div class="thumb-placeholder"></div>
        {% endif %}

    
    <h2>
        <a href="/posts/{{ post.slug }}/">{{ post.title }}</a>
    </h2>
    <p>{{ post.summary }}</p>
        <p><small>{{ post.date.strftime("%Y-%m-%d") }}</small></p>
    
    </article>
    {% endfor %}
</ul>


<div class="pagination">
    {% if page == 2 %}
    <a href="/">Vorige</a>
    {% elif page > 2 %}
    <a href="/page/{{ page-1 }}/">Vorige</a>
    {% endif %}


    <span>Pagina {{ page }} van {{ total_pages }}</span>
    {% if page < total_pages %}
    <a href="/page/{{ page+1 }}/">Volgende</a>
    {% endif %}
</div>

{% endblock %}

